<body>

<h1>Test App</h1>

<h3>
  {{title}} {{num}}
</h3>
<img src="{{path}}" alt="{{alt}}">
<hr>
<!-- Excercise #2 --> 
<table>
  <tr>
    <td>
      Name
    </td>
    <td>
      City
    </td>
    <td>
      Salary
    </td>
  </tr>
  <tr>
    <td>
      {{kati.name}}
    </td>
    <td>
      {{kati.city}}
    </td>
    <td>
      {{kati.salary}}
    </td>
  </tr>
  <tr>
    <td>
      {{kati.name}}
    </td>
    <td>
      {{kati.city}}
    </td>
    <td>
      {{kati.salary}}
    </td>
  </tr>
  <tr>
    <td>
      {{kati.name}}
    </td>
    <td>
      {{kati.city}}
    </td>
    <td>
      {{kati.salary}}
    </td>
  </tr>
</table>

<button (click)="katt()" class="clicky">Button</button>

<hr>





<!-- Excercise #1 -->
<!--
<table>
  <td>{{dolgozo[0].name}}</td>
  <td>{{dolgozo[0].city}}</td>
  <td>{{dolgozo[0].salary}}</td>
  <td>{{dolgozo[1].name}}</td>
  <td>{{dolgozo[1].city}}</td>
  <td>{{dolgozo[1].salary}}</td>
</table>  
-->  
</body>


